.navbar {
    height: 100vh;
    width: 100%;
    background: #874488;
}

.listItems {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    cursor: pointer;
}
.listItems p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.hoverableItem:hover {
    /*background-color: #862487;*/
    font-weight: bold;
}